---
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'true'
ColumnLimit: '100'
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
SpaceBeforeParens: Never
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: true
IndentCaseLabels: false

...
