---
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'true'
ColumnLimit: '100'
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
PointerAlignment: Right
SpaceBeforeParens: Never

...
