name: linux-build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: configure
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc-9 -DCMAKE_CXX_COMPILER=g++-9 -DCMAKE_INSTALL_PREFIX=release/jstar
    - name: build
      run: |
        cd build
        make -j
    - name: package binaries
      run: |
        cd build
        mkdir -p release/jstar
        make install
    - name: upload binaries
      uses: actions/upload-artifact@v2
      with:
        name: jstar-x64-linux
        path: build/release/jstar
